<footer  id="footer" class="game-footer">
	<div  class="container">
		<div  class="footer-grid">
			<div  class="company-section">
				<div  class="logo-container">
					<div  class="logo"><a
								href="https://3cgame.vn" target="_blank"><img
									src="./img/3cgame_logo.png"
									alt="3C Technology Logo"></a></div>
				</div>
				<p  class="company-description"> Công ty hàng đầu trong lĩnh vực phát triển
					và cung cấp dịch vụ trò chơi điện tử tại Việt Nam. </p></div>
			<div  class="details-section">
				<h4 >
					<svg  viewBox="0 0 24 24" class="icon icon-shield">
						<path
								d="M12 1l9 4v6c0 5.55-3.84 10.74-9 12-5.16-1.26-9-6.45-9-12V5l9-4z"></path>
					</svg>
					Thông tin công ty
				</h4>
				<div  class="details-card"><h5
							class="company-title">CÔNG TY CỔ PHẦN CÔNG
						NGHỆ SỐ 3C</h5>
					<div  class="license-info">
						<svg  viewBox="0 0 24 24" class="icon icon-file license-icon">
							<path
									d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
							<polyline  points="14,2 14,8 20,8"></polyline>
							<line  x1="16" y1="13" x2="8" y2="13"></line>
							<line  x1="16" y1="17" x2="8" y2="17"></line>
							<polyline  points="10,9 9,9 8,9"></polyline>
						</svg>
						<div  class="license-content"><p
									class="license-title">Giấy phép
								G1:</p>
							<p >Số 362/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày
								03/12/2024</p></div>
					</div>
					<div  class="license-info">
						<svg  viewBox="0 0 24 24" class="icon icon-calendar license-icon">
							<rect  x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
							<line  x1="16" y1="2" x2="16" y2="6"></line>
							<line  x1="8" y1="2" x2="8" y2="6"></line>
							<line  x1="3" y1="10" x2="21" y2="10"></line>
						</svg>
						<div  class="license-content"><p
									class="license-title">Quyết định
								phê duyệt:</p>
							<p >Nội dung kịch bản trò chơi Võ Hiệp Truyền Kỳ 2 số
								313/QĐ-PTTH&amp;TTĐT ngày 10/07/2025</p></div>
					</div>
				</div>
			</div>
			<div  class="contact-section"><h4 >Thông tin liên
					hệ</h4>
				<div  class="contact-item">
					<svg  viewBox="0 0 24 24" class="icon icon-phone contact-icon">
						<path
								d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
					</svg>
					<div  class="contact-content"><p
								class="contact-title">Hotline</p><a
								href="tel:19001168" class="hotline-link">19001168</a></div>
				</div>
				<div  class="contact-item">
					<svg  viewBox="0 0 24 24" class="icon icon-map contact-icon">
						<path  d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
						<circle  cx="12" cy="10" r="3"></circle>
					</svg>
					<div  class="contact-content"><p
								class="contact-title">Địa chỉ trụ sở
							chính</p>
						<p  class="contact-text"> TT3-6 Khu đô thị mới Đại Kim, Phường Đại
							Kim, Quận Hoàng Mai, Thành phố Hà Nội, Việt Nam </p></div>
				</div>
				<div  class="contact-item">
					<svg  viewBox="0 0 24 24" class="icon icon-user contact-icon">
						<path  d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
						<circle  cx="12" cy="7" r="4"></circle>
					</svg>
					<div  class="contact-content"><p
								class="contact-title">Người chịu trách
							nhiệm</p>
						<p  class="contact-text">Hoàng Thế Công</p></div>
				</div>
			</div>
		</div>
		<div  class="separator"></div>
		<div  class="bottom-footer">
			<div  class="footer-links"><p >© 2025 Công ty Cổ
					phần Công nghệ Số 3C. All rights reserved.</p>
				<div  class="footer-nav"><a
							href="https://3cgame.vn/policy" target="_blank">
						<svg  viewBox="0 0 24 24" class="icon">
							<path
									d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
							<polyline  points="14,2 14,8 20,8"></polyline>
							<line  x1="16" y1="13" x2="8" y2="13"></line>
							<line  x1="16" y1="17" x2="8" y2="17"></line>
							<polyline  points="10,9 9,9 8,9"></polyline>
						</svg>
						Điều khoản trò chơi </a><a  href="https://3cgame.vn/privacy"
													target="_blank">Chính sách bảo mật</a></div>
			</div>
			<button  class="support-button"> Hỗ trợ khách hàng</button>
		</div>
		<div  class="age-notice">
			<div  class="age-badge">18+</div>
			<div  class="age-content"><p  class="age-title">Cảnh
					báo độ tuổi</p>
				<p  class="age-text"> Game dành cho 18 tuổi trở lên. Chơi quá 180 phút mỗi
					ngày sẽ ảnh hưởng xấu tới sức khoẻ. </p></div>
		</div>
	</div>
</footer>
<div class="float-right">
	<div class="float-right__menu pc">
		<img src="<%= RELATIVE_PATH %>img/bg-menu.png" alt="Võ Hiệp Truyền Kỳ">
		<div class="float-right__menu-option">
			<div class="float-right__menu-option-item --01">
				<img src="<%= RELATIVE_PATH %>img/close-menu.png" alt="img" class="img-01">
				<img src="<%= RELATIVE_PATH %>img/close-menu-hv.png" alt="img" class="img-02">
			</div>
			<div class="float-right__menu-option-item --02">
				<img src="<%= RELATIVE_PATH %>img/open-menu.png" alt="img" class="img-01">
				<img src="<%= RELATIVE_PATH %>img/open-menu-hv.png" alt="img" class="img-02">
			</div>
		</div>
		<div class="float-right__menu-block">
			<a href="" class="float-right__menu-logo">
				<img src="<%= RELATIVE_PATH %>img/menu-heading.png" alt="img" class="img-01">
				<img src="<%= RELATIVE_PATH %>img/menu-heading-hv.png" alt="img" class="img-02">
			</a>
			<ul class="float-right__menu-nav">
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-01.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-01-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-02.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-02-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-03.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-03-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-04.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-04-hv.png" alt="img" class="img-02">
					</a>
				</li>
			</ul>
			<ul class="float-right__menu-sns">
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/sns-01.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/sns-01-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/sns-02.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/sns-02-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/sns-03.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/sns-03-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/sns-04.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/sns-04-hv.png" alt="img" class="img-02">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<a href="" class="float-right__top js-backtop">
		<img src="<%= RELATIVE_PATH %>img/top.png" alt="Top" class="img-01">
		<img src="<%= RELATIVE_PATH %>img/top-hv.png" alt="Top" class="img-02">
	</a>
</div>


<div class="popup " id="popup-youtube">
	<div class="popup-show popup-show--ytb">
		<div class="popup-show__close"><img src="<%= RELATIVE_PATH %>img/close.png" alt="close"></div>
		<div class="popup-show__ytb">
			<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/3lJKGY7nzRE?si=M8xVnQelwbUWORD9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
	</div>
</div>