<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
	</a>
	<nav class="header-nav">
		<div class="header-nav__logo sp">
			<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
		</div>
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="">Trang chủ</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Cộng đồng</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Sự kiên</a>
			</li>
		</ul>
		<ul class="header-nav__sns sp">
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/sns-01-sp.png" alt="img">
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/sns-02-sp.png" alt="img">
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/sns-03-sp.png" alt="img">
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/sns-04-sp.png" alt="img">
				</a>
			</li>
		</ul>
	</nav>
	<ul class="header-btn sp">
		<li>
			<a href=""><img src="<%= RELATIVE_PATH %>img/btn-nap.png" alt="img"></a>
		</li>
		<li>
			<a href=""><img src="<%= RELATIVE_PATH %>img/btn-dk.png" alt="img"></a>
		</li>
	</ul>
	<span class="js-mobile">
		<span></span>
	</span>

</header>