<main class="page-<%= pageData.template %>">
	<section class="sec-mv" id="id-01">
		<h1 class="mv-video">
			<video class="pc" src="<%= RELATIVE_PATH %>img/Pc.mp4" loop autoplay muted webkit-playsinline playsinline ></video>
			<video class="sp" src="<%= RELATIVE_PATH %>img/Mb.mp4" loop autoplay muted webkit-playsinline playsinline ></video>
		</h1>
		<ul class="float-left">
			<li>
				<a href="#id-03" class="btn-img js-scroll">
					<img src="<%= RELATIVE_PATH %>img/item-01.png" alt="Nhất Niên Khánh Điển" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/item-01-hv.png" alt="Nhất Niên Khánh Điển" class="img-02">
				</a>
			</li>
			<li>
				<a href="#id-02" class="btn-img js-scroll">
					<img src="<%= RELATIVE_PATH %>img/item-02.png" alt="Máy Chủ Mới Hàng Long" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/item-02-hv.png" alt="Máy Chủ Mới Hàng Long" class="img-02">
				</a>
			</li>
			<li>
				<a href="" class="btn-img">
					<img src="<%= RELATIVE_PATH %>img/item-03.png" alt="Chuỗi Sự Kiện Sinh Nhật" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/item-03-hv.png" alt="Chuỗi Sự Kiện Sinh Nhật" class="img-02">
				</a>
			</li>
			<li>
				<a href="#id-04" class="btn-img js-scroll">
					<img src="<%= RELATIVE_PATH %>img/item-04.png" alt="Thiên Giáng Hồng Phúc" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/item-04-hv.png" alt="Thiên Giáng Hồng Phúc" class="img-02">
				</a>
			</li>
		</ul>
	</section>
	<section class="sec-gif" id="id-02">
		<div class="gif-block">
			<img src="<%= RELATIVE_PATH %>img/bg-gif.png" alt="Võ Hiệp Truyền Kỳ" class="pc">
			<img src="<%= RELATIVE_PATH %>img/bg-gif-sp.png" alt="Võ Hiệp Truyền Kỳ" class="sp">
			<ul class="gif-block__time">
				<li>
					10 <span>Ngày</span>
				</li>
				<li>
					10 <span>Giờ</span>
				</li>
				<li>
					15 <span>Phút</span>
				</li>
				<li>
					10 <span>Giây</span>
				</li>
			</ul>
			<div class="gif-block__show">
				<div class="gif-block__show-item gif-block__show-02">
					<img src="<%= RELATIVE_PATH %>img/bg-gif-02.png" alt="Võ Hiệp Truyền Kỳ">
					<div class="gif-block__show-name">
						iphone 17<br>
						promax 512 gb
					</div>
					<div class="gif-block__show-img">
						<img src="<%= RELATIVE_PATH %>img/gif-02.png" alt="iphone">
					</div>
				</div>
				<div class="gif-block__show-item gif-block__show-01">
					<video src="<%= RELATIVE_PATH %>img/vf3.mp4" loop autoplay muted webkit-playsinline playsinline ></video>
				</div>
				<div class="gif-block__show-item gif-block__show-03">
					<img src="<%= RELATIVE_PATH %>img/bg-gif-03.png" alt="Võ Hiệp Truyền Kỳ">
					<div class="gif-block__show-name">
						ipad<br>
						pro
					</div>
					<div class="gif-block__show-img">
						<img src="<%= RELATIVE_PATH %>img/gif-03.png" alt="vf3">
					</div>
				</div>
			</div>
		</div>
		<ul class="gif-block__btn">
			<li>
				<a href="" class="btn-img js-popup-01">
					<img src="<%= RELATIVE_PATH %>img/btn-01.png" alt="Lộ trình" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-01-hv.png" alt="Lộ trình" class="img-02">
				</a>
			</li>
			<li>
				<a href="" class="btn-img js-popup-02">
					<img src="<%= RELATIVE_PATH %>img/btn-02.png" alt="Phúc lợi" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-02-hv.png" alt="Phúc lợi" class="img-02">
				</a>
			</li>
			<li>
				<a href="" class="btn-img js-popup-03">
					<img src="<%= RELATIVE_PATH %>img/btn-03.png" alt="Phần thưởng đua top" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-03-hv.png" alt="Phần thưởng đua top" class="img-02">
				</a>
			</li>
			<li>
				<a href="" class="btn-img js-popup-04">
					<img src="<%= RELATIVE_PATH %>img/btn-04.png" alt="Sự kiên" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-04-hv.png" alt="Sự kiên" class="img-02">
				</a>
			</li>
			<li>
				<a href="" class="btn-img js-popup-05">
					<img src="<%= RELATIVE_PATH %>img/btn-05.png" alt="Trailer" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-05-hv.png" alt="Trailer" class="img-02">
				</a>
			</li>
		</ul>
	</section>
	<section class="sec-user" id="id-03">
		<h2 class="user-ttl">
			<img src="<%= RELATIVE_PATH %>img/user-ttl.png" alt="Nhất niên Khánh Điển">
		</h2>
		<div class="user-note">
			<div class="user-note__left">
				<p>Xin chào, <span>ABCXYZZZ</span></p>
				<p>Số lượt: <span>25</span></p>
			</div>
			<div class="user-note__right">
				<a href="">THOÁT</a>
			</div>
		</div>
		<ul class="user-btn">
			<li>
				<a href="" class="btn-img">
					<img src="<%= RELATIVE_PATH %>img/btn-06.png" alt="Thể lệ" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-06-hv.png" alt="Thể lệ" class="img-02">
				</a>
			</li>
			<li>
				<a href="" class="btn-img">
					<img src="<%= RELATIVE_PATH %>img/btn-07.png" alt="Nhận lượt" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-07-hv.png" alt="Nhận lượt" class="img-02">
				</a>
			</li>
			<li>
				<a href="" class="btn-img">
					<img src="<%= RELATIVE_PATH %>img/btn-10.png" alt="Phần thưởng" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-10-hv.png" alt="Phần thưởng" class="img-02">
				</a>
			</li>
		</ul>
		<a href="" class="user-block__btn btn-img">
			<img src="<%= RELATIVE_PATH %>img/btn-08.png" alt="Mở quà sinh nhật" class="img-01">
			<img src="<%= RELATIVE_PATH %>img/btn-08-hv.png" alt="Mở quà sinh nhật" class="img-02">
		</a>
	</section>
	<section class="sec-number" id="id-04">
		<h2 class="number-ttl">
			<img src="<%= RELATIVE_PATH %>img/number-ttl.png" alt="Thiên giáng hồng phúc">
		</h2>
		<div class="number-block">
			<img src="<%= RELATIVE_PATH %>img/number-block.png" alt="Nhất niên võ hiệp tái khởi gian hồ" class="number-block__bg pc">
			<img src="<%= RELATIVE_PATH %>img/number-block-sp.png" alt="Nhất niên võ hiệp tái khởi gian hồ" class="number-block__bg sp">
			<div class="number-block__left">
				<ul class="number-block__list">
					<li>8</li>
					<li>8</li>
					<li>8</li>
					<li>8</li>
					<li>8</li>
					<li>8</li>
				</ul>
				<div class="number-block__btn">
					<a href="" class=" btn-img">
						<img src="<%= RELATIVE_PATH %>img/btn-09.png" alt="Nhận số may mắn" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/btn-09-hv.png" alt="Nhận số may mắn" class="img-02">
					</a>
					<a href="" class="btn-img js-popup-01 sp">
						<img src="<%= RELATIVE_PATH %>img/btn-11.png" alt="Thể lệ" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/btn-11-hv.png" alt="Thể lệ" class="img-02">
					</a>
				</div>

			</div>
			<div class="number-block__right pc">
				<div class="number-block__note">
					<h3 class="number-block__note-ttl"><span>Thể lệ</span></h3>
					<div class="number-block__note-ct js-bar">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						</p>
					</div>
				</div>
			</div>
			<ul class="number-block__bottom">
				<li class="number-block__bottom-item">
					<img src="<%= RELATIVE_PATH %>img/h1.png" alt="img">
				</li>
				<li class="number-block__bottom-item">
					<img src="<%= RELATIVE_PATH %>img/h2.png" alt="img">
				</li>
				<li class="number-block__bottom-item">
					<img src="<%= RELATIVE_PATH %>img/h3.png" alt="img">
				</li>
				<li class="number-block__bottom-item">
					<img src="<%= RELATIVE_PATH %>img/h4.png" alt="img">
				</li>
			</ul>
		</div>
	</section>
</main>

<div class="popup " id="popup-01">
	<div class="popup-show popup-show--nd">
		<div class="popup-show__close"><img src="<%= RELATIVE_PATH %>img/close.png" alt="close"></div>
		<div class="popup-show__ct popup-show__ct--nd">
			<h3 class="popup-show__ct-ttl">
				<span>Tiêu đề</span>
			</h3>
			<div class="js-bar">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.<br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="popup" id="popup-02">
	<div class="popup-show popup-show--small">
		<div class="popup-show__close"><img src="<%= RELATIVE_PATH %>img/close.png" alt="close"></div>
		<div class="popup-show__ct popup-show__ct--nd">
			<h3 class="popup-show__ct-ttl">
				<span>Thông báo</span>
			</h3>
			<div class="c-al--c">
				<p>
					<strong>Thông tin được cập nhật trong một vài ngày tới, Đại Hiệp nhớ thường xuyên theo dõi tin tức ở  Hompage và Fanpage nhé!
					</strong>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="popup " id="popup-03">
	<div class="popup-show popup-show--small">
		<div class="popup-show__close"><img src="<%= RELATIVE_PATH %>img/close.png" alt="close"></div>
		<div class="popup-show__ct popup-show__ct--nd">
			<h3 class="popup-show__ct-ttl">
				<span>Thông tin nhân vật</span>
			</h3>
			<dl>
				<dt>Chọn Server</dt>
				<dd>
					<select class="form-control">
						<option>Server</option>
					</select>
				</dd>
			</dl>
			<dl>
				<dt>Chọn nhân vật</dt>
				<dd>
					<select class="form-control">
						<option>Chọn nhân vật</option>
					</select>
				</dd>
			</dl>
			<div class="popup-show__ct-sub">
				<button type="submit" class="c-btn__01">Đồng ý</button>
			</div>
		</div>
	</div>
</div>
<div class="popup " id="popup-04">
	<div class="popup-show popup-show--small">
		<div class="popup-show__close"><img src="<%= RELATIVE_PATH %>img/close.png" alt="close"></div>
		<div class="popup-show__ct popup-show__ct--nd">
			<h3 class="popup-show__ct-ttl">
				<span>Thông báo</span>
			</h3>
			<div class="c-al--c">
				<p>
					Chúc mừng đại hiệp đã nhận được
				</p>
				<ul class="popup-show__ct-gift">
					<li><img src="<%= RELATIVE_PATH %>img/gif-icon.png" alt="img"></li>
				</ul>
				<p class="c-fc--red">
					Chiếu Dạ Ngọc Sư Tử x1
				</p>
			</div>
		</div>
	</div>
</div>
<div class="popup " id="popup-05">
	<div class="popup-show popup-show--small">
		<div class="popup-show__close"><img src="<%= RELATIVE_PATH %>img/close.png" alt="close"></div>
		<div class="popup-show__ct popup-show__ct--nd">
			<h3 class="popup-show__ct-ttl">
				<span>Lịch sử</span>
			</h3>
			<table>
				<tr>
					<th>STT</th>
					<th>Phần thưởng</th>
					<th>Thời gian</th>
				</tr>
				<tr>
					<td>1</td>
					<td>Chiếu Dạ Ngọc Sư Tử ( 30 ngày)</td>
					<td>26/11/2026</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Chiếu Dạ Ngọc Sư Tử ( 30 ngày)</td>
					<td>26/11/2026</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Chiếu Dạ Ngọc Sư Tử ( 30 ngày)</td>
					<td>26/11/2026</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Chiếu Dạ Ngọc Sư Tử ( 30 ngày)</td>
					<td>26/11/2026</td>
				</tr>
			</table>
		</div>
	</div>
</div>